.new-my-poems-card {
    cursor: pointer;
}

.my-poem-card .my-poem-name {
    text-align: left;
}

.my-poem-card .my-poem-text {
    white-space: pre;
    font-family: monospace;
    text-align: left;
}
