<h1>Poem Editor</h1>
<form class="poem-edit-form" autocomplete="off">

    <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Poem Name</mat-label>
        <input class="poem-name-field" matInput required [(ngModel)]="poemName" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Poem Text</mat-label>
        <textarea class="poem-text-field" matInput required cdkTextareaAutosize cdkAutosizeMinRows="5"
            [(ngModel)]=poemText [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>

    <button class="poem-edit-submit" mat-flat-button color="primary" [disabled]="!canSubmit()"
        (click)="submit()">Submit</button>

    <button class="poem-edit-cancel" mat-flat-button color="accent" (click)="cancel()">Cancel</button>
</form>
