<h1>Poem Editor</h1>

<form class="poem-edit-form" autocomplete="off">
    <p>
        <mat-form-field class="poem-name-field" appearance="fill" floatLabel="always">
            <mat-label>Poem Name</mat-label>
            <input matInput required #poemName>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="poem-text-field" appearance="fill" floatLabel="always">
            <mat-label>Poem Text</mat-label>
            <textarea matInput required cdkTextareaAutosize cdkAutosizeMinRows="5" #poemText></textarea>
        </mat-form-field>
    </p>
    <button mat-flat-button color="primary" [disabled]="!canSubmit(poemName.value, poemText.value)"
        (click)="submit(poemName.value, poemText.value)">Submit</button>
    <button mat-flat-button color="accent" (click)="cancel()">Cancel</button>
</form>
